@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'poppins',sans-serif;
}

.logo{
display: flex;
}

.logo-img{
height: 75px;
width: 200px;
}

header{
z-index: 999;
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 100px;
transition: 0.3s ease;
}

header .brand{
color: rgb(255, 255, 255);
font-size: 1.5em;
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
}

header .navigation{
    position: relative;
}

header .navigation a{
position: relative;
color: rgb(255, 255, 255);
font-size: 1em;
font-weight: 400;
text-decoration: none;
margin-left: 30px;
transition: 0.3s ease;
}

header .navigation a::before{
content:'' ;
position: absolute;
background: rgb(255, 255, 255);
width: 0;
height: 3%;
bottom: 0;
left: 0;
transition: 0.3s ease;
}

header .navigation a::hover::before{
    width: 100%;
}

section{
    padding: 100px 100px;
}

.INICIO{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(143, 167, 255);
}

.INICIO .content{
z-index: 888;
color: rgb(253, 253, 253);
width: 70%;
margin-top: 50px;
display: none;
}

.INICIO .content.active{
    display: block;
}

.INICIO .content h1{
font-size: 4em;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 5px;
line-height: 70px;
margin-bottom: 40px;
}

.INICIO .content h1 span{
font-weight: 400;
font-size: 1.2em;
}

.INICIO .content p{
    margin-bottom: 60px;
}

.INICIO .content a{
background:rgb(255, 255, 255) ;
padding: 15px 35px;
border-radius: 2px;
color:  rgb(143, 167, 255);
text-decoration: none;
font-size: 1.1em;
font-weight: 400;
}

.INICIO .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
}

.INICIO .media-icons a{
color: rgb(255, 255, 255);
font-size: 1.5em;
transition: 0.3s ease;
}

.INICIO .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.INICIO .media-icons a:hover{
    transform: scale(1.3);
}

.INICIO video{
z-index: 0;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.INICIO::before{
    z-index: 777;
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgb(0, 149, 255);
mix-blend-mode: overlay;
}

.INICIO .slider-navegation{
z-index: 888;
position: relative;
display: flex;
justify-content: center;
align-items: center;
transform: translateY(80px);
}

.slider-navegation .nav-btn{
width: 12px;
height: 12px;
border-radius: 50%;
background: white;
transition: 0.3s ease;
box-shadow: 0 0 2px rgb(255, 255, 255, 0.5);
}

.slider-navegation .nav-btn:not(:last-child){
    margin-right: 30px;
}

.slider-navegation .nav-btn:hover{
    transform: scale(1.3);
}

.video-slider {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slider.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}